language: node_js
node_js:
  - '8.10.0'
  - '10.15'
script:
  - npm test
  - npm run smoke-test
notifications:
  email: false
deploy:
  provider: npm
  email: engineering@zapier.com
  api_key: $NPM_TOKEN
  on:
    tags: true
    node: '8.10.0'
  skip_cleanup: true
